/* Reset */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Generics */
body {
    font-family: sans-serif;
}

header {
    background-color: #50A2A7 ;
}

/* Utilities */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display:flex;
}

.layout {
    border: 2px dashed;
    background: #E9B44C;
}

/* Header */
.navbar {
    height:60px;
    display: flex;
    align-items: center;
}

.navbar > * {
    padding: 10px 0;
    flex-basis: 20%;
    background-color: ;
} 

.navbar-logo {
    text-align: left;
}

.navabar-menu {
    flex-grow: 1;
    text-align: center;
}

.navbar-action {
    text-align: right;
}

/* Hero */
.hero {
    height: 500px;
    background-color: #004777;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.hero .content {
background-color: #94B9AF;
  width: 50%;
}